<!DOCTPYE html>
<html>
    <head>
        <title>Player Stats - Add</title>
    </head>
    <body>
            <hl>Add New Player Stats</hl>
            <form action="/player_stats/insert" method="get">
                Player ID: <input name="player_id" type="text" />
                Game ID: <input name="game_id" type"text" />
                Points Scored: <input name="points" type"text"   />
                Assists:  <input name="assist" type="text"  />
                Rebounds: <input name="rebounds" type="text"  />
                Steals: <input name="steals" type="text" />
                Blocks: <input name="blocks" type="text" />
                Turnovers: <input name="turnovers" type="text" />
                <br  />
                <input type="submit" />
             </form>
    </body>
</html>