<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1> NBA Database Project </h1>
    <p>Welcome to <%= title %><%= subtitle%></p>
  </body>
</html>
