<!DOCTPYE html>
<html>
    <head>
        <title>TEAM - Add</title>
    </head>
    <body>
            <hl>Add New Team</hl>
            <form action="/team/insert" method="get">
                Team Name: <input name="team_name" type="text" />
                Arena: <input name="arena" type"text" />

                <br  />
                <input type="submit" />
             </form>
    </body>
</html>