<!DOCTYPE html>
<html>
<head>
    <title>Teams - View All</title>
</head>
    <body>
        <h1>Teams</h1>

        <table border= "1">
            <tr>
                <th>ID</th>
                <th>Team Name</th>
                <th>Arena</th>

            </tr>
            <% for (var i= 0; i < teams.length; i++) { %>
                <tr>
                    <td><%= teams[i].team_id %></td>
                    <td><%= teams[i].team_name %></td>
                    <td><%= teams[i].arena%></td>

                 </tr>
             <% } %>
         </table>
    </body>
</html>
