<!DOCTPYE html>
<html>
    <head>
        <title>Game - Add</title>
    </head>
    <body>
            <hl>Add New Game</hl>
            <form action="/team/insert" method="get">
                Game Time: <input name="game_date" type="text" />
                Arena: <input name="arena" type"text" />

                <br  />
                <input type="submit" />
             </form>
    </body>
</html>