<!DOCTPYE html>
<html>
    <head>
        <title>Coach - Add</title>
    </head>
    <body>
            <hl>Add New Coach</hl>
            <form action="/coach/insert" method="get">
                First Name: <input name="first_name" type"text" />
                Last Name: <input name="last_name" type"text"   />
                Age: <input name="age" type="text"  />
                Years of Experience: <input name="year_exp" type="text"  />
                Team ID: <input name="team_id" type="text" />
                <br  />
                <input type="submit" />
             </form>
    </body>
</html>