<!DOCTPYE html>
<html>
    <head>
        <title>Player - Add</title>
    </head>
    <body>
            <hl>Add New Player</hl>
            <form action="/player/insert" method="get">
                Jersey Number: <input name="jersey_num" type="text" />
                First Name: <input name="first_name" type"text" />
                Last Name: <input name="last_name" type"text"   />
                Height:  <input name="height" type="text"  />
                Position: <input name="position" type="text"  />
                Team ID: <input name="team_id" type="text" />
                <br  />
                <input type="submit" />
             </form>
    </body>
</html>